AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BEDROCK_MODEL_ID=global.anthropic.claude-haiku-4-5-20251001-v1:0
BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
COMPOSIO_API_KEY=
COMPOSIO_MCP_URL=https://backend.composio.dev/v3/mcp/9136c46c-19e6-4e0e-bd3e-471d3e36207a/mcp?user_id=pg-test-5ec3bf32-c31d-49ed-b75f-a03c3a2dc300
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=mas-clinic-booking
